<div class="container col-md-6" style="margin-top: 10px;">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Productos</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Procesador:</label>
                    <input type="text" class="form-control" [(ngModel)]="modelProducto.procesador" name="procesador">
                </div>
                <div class="form-group">
                    <label for="">Disco duro:</label>
                    <input type="text" class="form-control" [(ngModel)]="modelProducto.disco" name="disco">
                </div>
                <div class="form-group">
                    <label for="">Memoria Ram:</label>
                    <input type="text" class="form-control" [(ngModel)]="modelProducto.memoriaRam" name="memoria">
                </div>
                <button (click)="Guardar(modelProducto)" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>
